<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Liste</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script>
        // Bestätigungsdialog beim Löschen eines Clients
        function confirmDelete(clientId) {
            if (confirm("Möchtest du diesen Client wirklich löschen?")) {
                window.location.href = `/delete-client/${clientId}`;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Liste aller Clients</h1>
        <table class="client-table">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Status</th>
                    <th>Zuletzt online</th>
                    <th>Details</th>
                    <th>Aktionen</th> <!-- Neue Spalte für Aktionen -->
                </tr>
            </thead>
            <tbody>
                <% clients.forEach(client => { %>
                    <tr>
                        <td><%= client.hostname %></td>
                        <td>
                            <% if (client.online_status) { %>
                                <span class="status online">Online</span>
                            <% } else { %>
                                <span class="status offline">Offline</span>
                            <% } %>
                        </td>
                        <td><%= new Date(client.last_online).toLocaleString('en-GB', { 
                            weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', 
                            hour: '2-digit', minute: '2-digit' }) %></td>
                        <td><a href="/client/<%= client.id %>" class="detail-btn">Details</a></td>
                        <td>
                            <!-- Löschen-Button -->
                            <button onclick="confirmDelete(<%= client.id %>)" class="delete-btn">Löschen</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
